// Render a list of articles (or pages)

#content
  #content-inner

    - if @page.articles.empty?

      %h1
        Articles

      %ol{:class => 'articles-list articles-summary-list'}

        - articles = defined?(@articles_from_path) ? @articles_from_path : latest_articles(24)
        - articles.each do |article|
          %li
            %article
              %header
                %h2
                  -# Use link text as link text, otherwise article heading
                  - link_text = article.metadata 'link text'
                  - text = link_text ? link_text : article.heading
                  %a(href="#{article.abspath}")= text
              .article-content
                = haml :page_meta, :layout => false, :locals => { :page => article }
                ~ article.metadata 'summary'

    - else

      %h1
        = @page.metadata('Link text') || 'Categories'

      %ol{:class => 'articles-list articles-summary-list'}
        - @page.articles.each do |article|
          %li
            %article
              %header
                %h2
                  %a(href="#{article.abspath}")= article.heading
              .article-content
                = haml :page_meta, :layout => false, :locals => { :page => article }
                ~ article.metadata 'summary'

= haml :sidebar, :layout => false
